# Documentation
README.md
docs/
tools/
*.md

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Prettier
.prettierignore
.prettierrc
.prettierrc.json
.pro-commit-config.yaml

# Husky
.husky

# Logs
*.log
logs/

# Cache
node_modules/.cache/
.npm/